body {
  background-color: #f0f0f0;
  font-family: 'Lexend', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #6c5ce7;
  text-decoration: none;
}

.header {
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  letter-spacing: 2px;
  padding-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 48px;
  color: #333;
  margin: 0;
}

.header .repository {
  text-align: center;
  font-size: 14px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2), inset -5px -5px 10px rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.header .repository:hover {
  border-radius: 5px;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2), inset -3px -3px 5px rgba(255, 255, 255, 0.5);
}

.header .repository i {
  margin-left: 5px;
  margin-right: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  background: linear-gradient(145deg, #fff, #f0f0f0);
  border: 0;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(122, 141, 174, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.8);
  padding: 20px;
  transition: transform .2s ease-in-out, backdrop-filter .5s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  backdrop-filter: brightness(120%) blur(10px);
}

.card h5 a {
  text-decoration: none;
}

.card-title {
  color: #333;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #b2bec3;
  padding-bottom: 15px;
}

.card-text {
  font-size: 14px;
  color: #555;
  text-align: center;
  padding-top: 10px;
}

.footer {
  text-align: center;
  padding: 15px 0;
}

.footer p {
  text-align: center;
  margin: 0;
}

.social-icons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 1), 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: all .2s ease-in-out;
}

.social-icons a:hover {
  transform: translateY(-2px);
}

.social-icons a.facebook:hover {
  background-color: #1877f2;
  color: #fff;
}

.social-icons a.twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.social-icons a.instagram:hover {
  background-color: #e4405f;
  color: #fff;
}

.social-icons a.github:hover {
  background-color: #333;
  color: #fff;
}

.card a.btn {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  margin-top: auto;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #d1d9e6;
  transition: background-color .3s ease-in-out, transform .2s ease-in-out, box-shadow .2s ease-in-out;
  box-shadow: inset 3px 3px 6px rgba(122, 141, 174, 0.2), inset -3px -3px 6px rgba(255, 255, 255, 0.8);
}

.card a.btn:hover {
  background-color: #007bff;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 4px 4px 8px rgba(122, 141, 174, 0.3), -4px -4px 8px rgba(255, 255, 255, 0.8);
}

.card a.btn i {
  display: none;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  transition: opacity .3s ease-in-out;
}

.card a.btn:hover i {
  display: inline-block;
  opacity: 1;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .card {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}