/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@200;300;400;500;600;700;800&display=swap');

/* Custom CSS */
.display-1,.display-2,.display-3,.display-4 {
  font-weight: bold;
  color: #31344B;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-color {
  color: #2d4cc8;
}

input:focus {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
}

/* Scroll bar neumorphism */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border: 2px solid #c0c0c0;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border: 2px solid #c0c0c0;
  border-radius: 12px;
}

::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}

/* Navbar */
.navbar-nav {
  display: none !important;
}

/* Loading*/
.loader-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 9999;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 10px solid #f0f0f0;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  background: transparent;
  box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.1),
    -6px -6px 16px rgba(255, 255, 255, 0.6);
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* Hero Section */
.hero-section {
  background-image: url('/assets/img/woman-drinking-coffee.png');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.hero-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
  max-width: 600px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-section p {
  font-size: 18px;
  max-width: 1200px;
}

.hero-text {
  font-family: 'Lexend', sans-serif;
  color: #fff;
}

/* Card */
.card-body i {
  padding-left: 10px;
}

.card-body a:hover i {
  padding-left: 10px;
  color: #2d4cc8;
}

/* Load more button */
#load-more-button {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  display: block;
}

/* Back to top */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #e0e0e0;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 6px 6px 15px #b8b8b8, -6px -6px 15px #ffffff;
}

#back-to-top:hover {
  background-color: #d4d4d4;
  transform: scale(1.1);
  box-shadow: 8px 8px 15px #b8b8b8, -8px -8px 15px #ffffff;
}

.fa-angles-up {
  color: #333;
}

/* Keyframes and Media */
@keyframes flip-horizontal {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }

  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 20px);
  }

  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 576px) {
  .card {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}
