.hero-section {
  background-image: url('/assets/woman-drinking-coffee.png');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.hero-section h1 {
  font-size: 48px;
  margin-bottom: 20px;
  max-width: 1200px;
}

.hero-section p {
  font-size: 18px;
  max-width: 1200px;
}

.hero-text {
  font-family: 'Lexend', sans-serif;
  color: #fff;
}

.custom-color {
  color: #31344B;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #e0e0e0;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  box-shadow: 6px 6px 15px #b8b8b8, -6px -6px 15px #ffffff;
}

#back-to-top:hover {
  background-color: #d4d4d4;
  transform: scale(1.1);
  box-shadow: 8px 8px 15px #b8b8b8, -8px -8px 15px #ffffff;
}

.fa-angles-up {
  color: #333;
}

.section-title {
  text-align: center;
  padding: 20px 0;
}

.section-title h2 {
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  color: #2d4cc8;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.fa-flip-horizontal {
  animation: flip-horizontal 6s infinite;
}

.footer {
  background-color: #e5e5e5;
  text-align: center;
  padding: 20px 0;
}

.footer span {
  text-align: center;
  font-size: 14px;
  color: #31344B;
  margin: 0;
}

.footer a:hover {
  color: #0D6EFD;
}

.social-icons {
  background-color: transparent;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.social-icons a {
  background-color: #e6e7ee;
  display: inline-block;
  margin: 0 10px;
  font-size: 24px;
  color: #31344B;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: -3px -3px 6px rgba(255, 255, 255, 1), 3px 3px 6px rgba(0, 0, 0, 0.2);
  transition: all .2s ease-in-out;
}

.social-icons a:hover {
  transform: translateY(-2px);
}

.social-icons a.facebook:hover {
  background-color: #1877f2;
  color: #fff;
}

.social-icons a.twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.social-icons a.instagram:hover {
  background-color: #e4405f;
  color: #fff;
}

.social-icons a.github:hover {
  background-color: #31344B;
  color: #fff;
}

@keyframes flip-horizontal {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(-1);
  }

  100% {
    transform: scaleX(1);
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 20px);
  }

  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 576px) {
  .card {
    flex: 0 0 100%;
    margin: 10px 0;
  }
}